#crosshair {
    position: relative;
    top: 210px;
    height: 19px;
    width: 19px;
    left: 50%;
    z-index: 10;
    margin-left: -8px;
    display: block;
    background: url(../images/crosshair.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

#map_canvas, #map_canvas_visual {
    border:solid 5px;
    width: 97%;
    height: 400px; /* If you change this don't forget to change the crosshair position to match */
}